.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hover-link:hover,
.hover-link:active {
  color: var(--primary-color);
}

.hover-link {
  display: inline-flex;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: ((100% - (9 * 10%))/9);
  gap: 30px;
}

.list-style-none {
  list-style: none;
}
