.portfolio-img-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
  gap: 4px;
  max-width: 370px;
}

.portfolio-img-description-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  color: var(--quinary-color);
}

.main-img-description {
  padding: 30px;
}

.description-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.description-text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--quinary-color);
  margin-bottom: 94px;
}
